/* selettore universale */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Edu TAS Beginner", sans-serif;
    position: relative;
}

/* ---------------------------HEADER------------------------------ */

/* stile dell'header */
header{
    background-image: url(../img/wall.png);
    background-size: cover;
    /* height: 120px; */
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* stile del titolo della pagina */
#title{
    padding: 15px 0;
    text-align: center;
    /* height: 50px;
    width: 500px; */
    /* background-color: aqua; */
}

#title h1{
    font-size: 65px;
}

/* -----------------------------BODY------------------------------ */

/* stile del body */
main{
    background-color: cadetblue;
    background-image: url(../img/cork.png);
    background-size: contain;
}

/* stile delle colonne e delle card che contengono immagine e descrizione */
.col-4{
    /* height: 300px; */
    /*background-color: white;
    border: 1px solid black; */
    padding: 10px;
}

.card{
    background-color: white;
    border-radius: 0px;
    /* height: 250px; */
    position: relative;
    margin-bottom: 20px;
}

.card .content{
    /* background-color: blueviolet;
    height: 100px; */
    padding: 10px 20px;
} 

/* classe che permette di dare il font alle date delle card */
.date{
    font-family: "Sometype Mono", monospace;
    color: rgb(175, 175, 175);
}

h3{
    font-weight: 800;
}

/* classe che permette di posizionare il pin nella posizione desiderata */
.pin{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
}

.upper{
    text-transform: uppercase;
}

/* -------------------------OVERLAY------------------------- */

.overlay{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    text-align: center;
    display: none;
}

.overlay img{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay .btn{
    margin-top: 20px;
    font-size: 20px;
}
