/* selettore universale */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Edu TAS Beginner", sans-serif;
}

/* ---------------------------HEADER------------------------------ */

/* stile dell'header */
header{
    background-image: url(../img/wall.png);
    background-size: contain;
    height: 120px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -----------------------------BODY------------------------------ */

/* stile del body */
main{
    background-color: cadetblue;
}

/* stile del titolo della pagina */
#title{
    height: 50px;
    width: 500px;
    background-color: aqua;
}

/* stile delle colonne e delle card che contengono immagine e descrizione */
.col-4{
    /* height: 300px; */
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}

.card{
    background-color: brown;
    /* height: 250px; */
}

.card .img{
    height: 200px;
    width: 75%;
    background-color: aqua;
}

.card .content{
    background-color: blueviolet;
    height: 100px;
}